@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

h1 {
    color: #ffcb05;
    text-shadow: 2px 2px #3b4cca;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon {
    background-color: #fff;
    border: 2px solid #3b4cca;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.pokemon img {
    width: 100px;
    height: 100px;
}

.pokemon p {
    margin-top: 10px;
    font-size: 1em;
    color: #3b4cca;
}

a {
    color: #3b4cca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 1em;
}

#load-pokemon-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3b4cca;
    border: 2px solid #ffcb05;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

#load-pokemon-btn:hover {
    background-color: #2a2e92;
}
